page-shareinfo {
    .author{margin-left: 0!important}
    .list > .item-block:first-child{
        border-top: none!important;
    }
    .bgcl{background: #fff!important;overflow: hidden}
    ion-footer{background-color: #fff!important}
    .date{border-top: 0.55px solid #c8c7cc;padding: 5px 0;margin-top: -26px;font-size:12px;
     span{margin: 0 3px ;color:#807f84 }
    
    }
  
#showcard{display: none}
}
