<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>订单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bgcolor">
    <ion-searchbar class="bgcolor"  [(ngModel)]="keywords" placeholder="输入客户姓名" (ionInput)="getItems($event)"></ion-searchbar>
  <div class="mytabs bgff">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of categoryData,let i = index" (click)="checktab(i)" class="text-center " [ngClass]="{true:'active',false:''}[item.isSelect]">
          {{item.key}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="border-nt">
    <div  *ngFor="let item of cusarr">
      <ion-item class=" font-md mb1 mt5 border-b color-8c ">
        订单编号 {{item.OrderId}}
        <span [navPush]="shoplistpage" class="pull-right  color-r font-sm">{{item.StatusDes}}</span>
      </ion-item>
      <ion-list tabable class="border-nb mb5 arrow">
        <ion-item no-lines class="border-nb mb5">
          <ion-avatar item-start>
            <img class="myimg" src="{{ip_src+item.GoodsImg}}" onError="this.src='../../assets/imgs/shop01.jpg'">
          </ion-avatar>
          <h2 class="color-403 text-showell mr20">{{item.GoodName}} </h2>
          <p class="color-66 text-showell mr20">{{item.SpecDes}}</p>
          <p class="pos-rel mr20">客户：{{item.CustomerName}}<span class="pull-right">电话：{{item.CustomerPhone}}</span></p>
          <p class="pos-rel mr20">交易时间:{{item.CreateTime}}</p>
          <p class="pos-rel mr20  text-right"><span><span class="color-r mr10">￥{{item.GoodsPrice}}</span>x {{item.GoodsNum}}</span></p>
        </ion-item>
      </ion-list>
    </div>
   
    <div *ngIf="cusarr.length<=0">
      <p class="mt50 text-center color-8c">暂无相关订单</p>
    </div>
    
  </ion-list>


</ion-content>