page-shoplist {
    .item h2{font-size: 1.3rem !important}
    .item h3{font-size: 1.2rem !important}
    .item.item-block .item-inner{border:none}
    .lin52{line-height: 52px}
    .item h2{font-size: 1.3rem !important}
    .item h3{font-size: 1.2rem !important}
    .pr0>.item-inner{padding-right: 0 !important}
   button.user {padding:6px  0 10px 16px}
   .mylogo{left: -1px;img{width: 22px;height: 22px;}}
   .sharebtn{height: 50px;}
}
