page-msg {
    .list{margin-bottom: 5px!important}
    .item-block{border: none!important}
    .spot{width: 8px;height: 8px;background: $maincolor;border-radius: 50%;display:inline-block;margin-right: 5px;margin-top: 0.3rem}
    .w95{width: 95%}.w100{width: 100%}
}
