page-shopdetail {
.border-nb{border-bottom: none}
.toph{height: 42vh;background:rgb(244, 244, 244);text-align: center; }
.w40{width: 40%}
.list-ios > .item-block:first-child,.border-nt{border-top:none}
.border-nb,.border-nb .item-inner{border-bottom: none !important}
.font-md{font-size:1.5rem}
.color-66{color: #666}
.color-403{color:#403e3e}
.mb10{margin-bottom: 10px}.mb0{margin-bottom: 0}
.item-ios h2{font-size: 1.3rem}
.item-ios h3{font-size: 1.2rem}
.fixedbtn{position: fixed;bottom: 5vh;width: 80%}
.item-ios ion-avatar img{width: 43px}
}
